<div class="input-group mb-3">
  <div class="input-group-prepend">
    <div class="input-group-text">
      <input type="checkbox" name="TaskStatus" value="Done">
    </div>
  </div>
  <input type="text" class="form-control">
</div>



<div class="col-2 bg-light text-center col-md-1 input-group">
  <input type="checkbox" name="TaskStatus" value="Done">
</div>
<div class="col-10 bg-primary text-center col-md-4">
  
</div>
<div class="col-12 bg-danger text-center col-md-7">
  
</div>




                            <!--Titles Column-->
                            
                            <div class="col-2 bg-light text-center col-md-1 input-group">
                              <input type="checkbox" name="TaskStatus" value="Done">
                            </div>
                            <div class="col-10 bg-primary text-center col-md-9">
                              <div class="row">
                                <div class="col">ffij</div>
                                <div class="col">sdfsdf</div>
                                <div class="col">sdfsdfsd</div>
                              </div>
                            </div>


                            <!--Description Column-->
                            <div class="col-12 bg-danger text-center col-md-3">
                              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Toggle second element</button>
                              <div class="collapse multi-collapse" id="multiCollapseExample2">
                                <div class="card card-body">
                                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                </div>
                              </div>
                            </div> 



                            <div class="row">
                              <!--Titles Column-->
                              
                              <div class="col-10 bg-primary text-center col-md-9">
                                <div class="row">
                                  <div class="col-2 text-center col-md-1 pt-1 input-group">
                                    <input type="checkbox" class="form-check" name="TaskStatus" value="Done">
                                  </div>
                                  <div class="col">Task</div>
                                  <div class="col">Category</div>
                                  <div class="col">Deadline</div>
                                  <div class="col">
                                    <a class="text-dark" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Description
                                  </a>
                                  </div>
                                </div>
                              </div>
  
  
                              <!--Description Column-->
                              <div class="col-12 text-center col-md-3">
                                <div class="collapse" id="collapseExample">
                                  <div class="card card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>